<div class="container">
  <div class="row">
    <!--一覧のbox-->
    <div class="post-box col-sm-10">
      <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>部位名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.post_name, post_path(post) %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      </div>
    </div>
  </div>
</div>