<div class="top-container">
  <div class="row">
    <div class="top-image col-sm-4 mt-5 mx-auto">
      <!--焼肉の画像-->
      <%= image_tag asset_path('shutterstock_369946268.png'), class: "img-fluid rounded-circle" %>
    </div>
    <h1 class="top-string col-sm-12 mb-5 mt-5 text-center"><strong>  おにく けんさく . . .　<i class="fas fa-search"></i></strong></h1>
    <div class="top-sarch col-sm-3 text-center mx-auto mb-5">
      <!--検索バー-->
      <%= link_to "さっそく検索してみる", posts_path, class: "fas fa-search btn btn-info btn-lg" %>
    </div>

    <div class="top-box col-sm-12 text-center mx-auto mt-5">
      <h2>お肉と言ったら...？</h2>
      <div class="top-box col-sm-10 mx-auto mt-3">
        <%= image_tag asset_path('shutterstock_1385999627.png'), class: "img-fluid-box" %>
      </div>
      <h4 class="box-string col-8 mx-auto mt-5">「お肉で好きな部位って何ですか？」</h4>
      <h5 class="mt-3 mb-5">
        皆さんはこの質問に対して、どの動物のどの部位を連想しますか？<br>
        カルビ、ロース、セセリ、手羽先、ホルモン...色々な種類の美味しいお肉が連想されると思います。<br>
        例えば焼肉屋に行き、この部位って何のお肉なんだ？と注文する際疑問に思うことはありますよね。<br>
        <br>
        ここではそんな疑問を解消していただきたく、なんと豆知識も纏めているので、ぜひ話のネタとしてもご活用くださればと思います。
      </h5>
    </div>
  </div>
</div>