<div class="top-container">
  <div class="row">
    <div class="top-image col-sm-4 mt-5 mx-auto">
      <!--焼肉の画像-->
      <%= image_tag asset_path('shutterstock_1013274682.png'), class: "img-fluid rounded-circle" %>
    </div>
    <h1 class="top-string col-sm-12 mb-5 mt-5 text-center"><strong>  おにく けんさく . . .　<i class="fas fa-search"></i></strong></h1>
    <div class="top-sarch col-sm-3 text-center">
      <!--検索バー-->
      <%= link_to "さっそく検索してみる", posts_path, class: "fas fa-search btn btn-info btn-lg" %>
    </div>
  </div>
</div>