// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_box {
  display: flex;
}

.post-font-box {
  border-bottom: 5px solid orangered;
}

.post-font-saerch {
  font-size: 20px;
  color: #333333;
  text-align: center;
}

.post-saerch {
  padding: 5px;
}